body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f0f0f0;
    line-height: 1.6;
    box-sizing: border-box;
}
.text-right{
    text-align:right;
}
#dropdown{
    width:0;
    height:0;
    overflow:hidden;
    display:flex;
    flex-wrap:wrap;
}

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(image/shreya_s_resume_bgi.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#body-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: -1;
}
.horizontal-list{
    list-style: none;
    padding:0;
    margin: 0;
}
.horizontal-list li{
    display: inline-block;
    margin:8px 8px 8px 0px;
}
.horizontal-list li a{
    font-size: 20px;
    text-decoration:none;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition:color 1s;
}
.horizontal-list li a:hover{
    color:whitesmoke;
    text-decoration:underline;
}
.social-icons li a i{
    padding: 10px;
    color:white;
    font-size: 1.5rem;
    border-radius: 50%;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 4px 6px rgba(230,196,196,0.3);}

#Name{
    font-size:4em;
     color:rgb(255, 255, 255);
     margin-top: 2em;
     margin-bottom: 0;
     font-weight: 700;
}
.text-centre{
    text-align: center;
}
.mb75px{
    color: #2857a4;;
}
.mb520{
    color:orange;
}
#about{
    height:auto;
    width:100%;
    position: relative;
}
#My-image img{
    height:100%;
    width:100%;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 4px lightgrey;
}
#My-image{
    height:15rem;
    width:15rem;
    margin: auto;
    margin-top:-8rem;
}
 #about p span{
    color: #2857a4;
}
#about p{
    margin:20px 170px;
    text-align:justify;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: white;
}
#skills ul, #certificates ul, #achievements ul{
    margin:0px 170px 20px;
    text-align:justify;
    font-size: 17px;
    line-height: 25px;
    color:white;
}

.section-heading {
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-header {
    padding-bottom: 2%;
}

.section-heading span {
    font-size: 1.5em;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
section{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.skills-container{
    width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
section:nth-child(2n){
    background-color:black;
}
section:nth-child(2n+1){
    background-color: rgb(143, 143, 143);
}
.skill-progress{
    width:20%;
    height:1.8rem;
    border-radius: 0.8rem;
    background-color: lightgrey;
    margin: 2rem 4rem;
}
.skill-progress>div {
  border-radius: 20px 0px 0px 20px;
  box-shadow: 4px 0px 4px 0px grey;
}
.eighty-five-percent{
    width:85%;
    height:inherit;
}
.sixty-five-percent{
    width:65%;
    height:inherit;
}
.fifty-percent{
    width:50%;
    height:inherit;
}
.skill-name span{
    margin-left: 10px;
  color: white;
  font-size: 1rem;
  line-height: 1.8rem;
}
.mb-blue{background-color: #2857a4;}
.mb-pink{background-color: hotpink;}
.mb-orange{background-color: orange;}

/*Timeline*/

.timeline {
    position: relative;
    width: 85%;
/*    border: 2px solid black;*/
}

.timeline-box {
    position: relative;
    /* margin:5px; */
    padding:5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    color:white;
/*    border: 2px solid black;*/
}

.timeline-box div{
    text-align: justify;

}
.timeline-box h4{
    font-size: 25px;
    margin:0px;
}
.timeline-box p{
    font-size: 15px;
    margin:0px;
}
.timeline-box:nth-child(2n){
      left: 54%;
      text-align:left;
}
.timeline-box:nth-child(2n+1) {
    text-align:right;
}
.timeline-box div p{
    margin:5px;
}
.timeline-divider{
    height: 85%;
    width:0;
    border: 2px dashed lightgrey;
    position:absolute;
    left:50%;
    top:2%;
    bottom: 0%;
}
.timeline-traveller{
    font-size: 30px;
    position:sticky;
    top:8%;
    transform:rotate(90deg);
    z-index: 1;
}
.timeline-box:nth-child(2n+1)::before{
    content:'';
    border-radius: 50%;
    width:1rem;
    height: 1rem;
    background-color: darkgrey;
    position:absolute;
    top:10%;
    right:-12.3%;
}
.timeline-box:nth-child(2n)::before{
    content:'';
    border-radius: 50%;
    width:1rem;
    height: 1rem;
    background-color: darkgrey;
    position:absolute;
    top:10%;
    left:-11%;
}
@media screen and (max-width:600px){
    .timeline-divider{
        left:1.1em;
    }
    .timeline-box{
        width:85%;
        left:2.5em !important;
        text-align:left;
    }
    .timeline-box::after{
        left:-2.1em !important;
    }
    html{
        font-size: 15px;
    }
}

.portfolio-container{
    width:85%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-around;
    margin-left: 50px;
}

.portfolio-image img{
    position: absolute;
     width: 100%;
    height: 100%;
}
.portfolio-image{
    height:18em;
    width:18em;
    box-sizing: border-box;
     margin: 0px 2em;
    position: relative;
    overflow: hidden;
}
.portfolio-image:hover {
  box-shadow: 0px 0px 12px 0px #6db5fd;
}
  
.portfolio-image:hover .image-des {
  visibility: visible;
    cursor: pointer;
    background-color: lightgrey;
    background-size: contain;
    opacity: 0.7;
    z-index: 1;
}
.portfolio-image .image-des {
    transition: all 0.5s ease-in-out;
  position: absolute;
  top:0;
  left:0;
  height: 14em;
  width: 14em;
  font-weight:700;
  visibility:hidden;
  padding: 1em;
  font-size: 1.2em;
  color: black;
}

.mb-backgrad{
    background-image: black;
    color: white;
    font-size: 1rem;
}
.mbwhite span{
    color: white;
}
.contact-container {
  width: 100vw;
  min-width: 125px;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.25em;
}

.contact-container .contact-form-container, .contact-container .address-container {
  flex-basis: 25em;
  overflow-x: hidden;
}

/* .contact-container .contact-form-container .input-field {
  width: 100em;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border: none;
  height: 2.5rem;
  font-size: 1em;
  color: white;
  border-bottom: 3px solid white;
  background-color: #0000;
} */

/* .contact-container .contact-form-container textarea.input-field {
  height: 4rem;
  resize: none;
}

.contact-container .contact-form-container .input-field:focus {
  outline: none;
  border-bottom: 3px solid #bebebe;
}

.contact-container .contact-form-container .input-field::placeholder {
  color: #bebebe;
} */

/* .contact-container .contact-form-container #submit {
  display: block;
  margin: 0 auto;
  font-size: 0.75em;
  padding: 0.5rem 1rem;
}

.contact-container .contact-form-container #submit:hover {
  background-color: #1262b3;
} */
.white-transparent-link{
    color:white;
    text-decoration: none;
}

.contact-container .address-container h2, .contact-container .address-container div {
  margin: 0.8rem 0;
}

.contact-container .address-container div, .contact-container .address-container p {
  font-size: 0.85em;
}

@media screen and (max-width:800px){
    #about p, #skills ul, #certificates ul, #achievements ul{
        margin:auto 100px;
    }
}
@media screen and (max-width:700px){
    .xyzlist{
        display:none;
    }
    #dropdown{
        width:100%;
        height:auto;
        z-index:2;
    }
    .bars{
        width:100%;
        height:auto;
        color:white;
        position:fixed;
        right:2%;
        top:3%;
    }
    .bars i{
        scale: 2;
    }
    #dropdown:hover .dropdown-menu{
       visibility:visible;
        width: 120px;
        height: 200px;
        top: 30px;
        left: 75%;
        background-color: lightgrey;
        opacity:0.7;
        box-shadow: 0px 0px 4px 6px black;
        
    }
     
    #dropdown .dropdown-menu{
    position: fixed;
    top:5;
    left:0;
    visibility:hidden;
    }
    #dropdown .dropdown-menu ul li a{ 
        padding:5px;
     color: black;}

    #dropdown .dropdown-menu ul li a:hover{ 
     color: grey;}

    .vertical-list{
    list-style: none;
    padding:5px;
    margin: 2px;
    }
}
@media screen and (max-width:500px){
    #about p, #skills ul, #certificates ul, #achievements ul{
        margin:auto 50px;
    }
}

@media screen and (max-height:700px){
    #Name{
        margin-top: 1.5em;
    }
}

@media screen and (max-height:600px){
    #Name{
        margin-top: 0.5em;
    }
}
@media screen and (max-height:500px){
    #Name{
        margin-top: 0em;
    }
}
